<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sekolah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom" style="margin-left:auto;margin-right:auto;max-width: 700px;">
    <ion-card-content>
      <table>
        <tr *ngFor="let db of sekolah;let i = index;">
          <td width="182"><b>{{db.param}}</b></td>
          <td width="1"><b>:</b></td>
          <td [style.font-weight]="i==0?'600':''">{{db.value}}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: auto;max-width: 700px;">
    <ion-card-content>
      <table>
        <tr *ngFor="let db of kepala;let i = index;">
          <td width="182"><b>{{db.param}}</b></td>
          <td width="1"><b>:</b></td>
          <td [style.font-weight]="i==0?'600':''">{{db.value}}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>