<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KKM (Kriteria Ketuntasan Minimal)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" style="width: 60px;"
                (ionChange)="ngOnInit()">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding ion-padding-vertical ion-text-start">
            <ion-chip class="chip-info" outline>
              <ion-icon name="information-circle-outline"></ion-icon>
              <ion-label>Klik salah satu muatan pelajaran untuk mengedit.</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-card>
              <ion-card-content class="ion-no-padding">
                <table>
                  <tr>
                    <th>No.</th>
                    <th>Muatan Pelajaran</th>
                    <th class="ion-text-center">Nilai Minimal</th>
                  </tr>
                  <tr *ngFor="let db of data; let i = index" (click)="detail(db)">
                    <td width="1">{{i+1}}.</td>
                    <td align="left">{{db.muatan_pelajaran}}</td>
                    <td>{{db.nilai_minimal}}</td>
                  </tr>
                </table>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="ion-margin" (click)="detail('')">Tambah KKM</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>