<ion-header>
  <ion-toolbar>
    <ion-title>{{judul}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss();">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="modal-content">

  <form [formGroup]="myForm" (ngSubmit)="simpan()">
    <ion-card>
      <ion-card-content>
        <!-- <ion-grid class="ion-margin-bottom ion-padding frame"> -->
        <ion-grid class="ion-margin-bottom ion-padding">
          <ion-row>
            <ion-col class="ion-padding-end">
              <ion-row>
                <ion-col size="auto">
                  <div class="form-label">Muatan Pelajaran</div>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="muatan_pelajaran" placeholder="Muatan Pelajaran"
                    [ngClass]="(isSubmitted && myForm.get('muatan_pelajaran').hasError('required'))?'form-invalid':''">
                  </ion-input>
                  <div *ngIf="isSubmitted && myForm.get('muatan_pelajaran').hasError('required')" class="input-invalid">
                    Silahkan isi Muatan Pelajaran</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto">
                  <div class="form-label">Nilai Minimal</div>
                </ion-col>
                <ion-col>
                  <ion-input type="number" formControlName="nilai_minimal" placeholder="0"
                    [ngClass]="(isSubmitted && myForm.get('nilai_minimal').hasError('required'))?'form-invalid':''">
                  </ion-input>
                  <div *ngIf="isSubmitted && myForm.get('nilai_minimal').hasError('required')" class="input-invalid">
                    Silahkan isi Nilai Minimal</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- <div class="ion-padding frame"> -->
    <ion-card>
      <ion-card-content>
        <ion-button *ngIf="!isNewData" class="ion-margin-end" color="danger" fill="outline" (click)="hapus()">
          <ion-icon name="trash-outline" slot="start"></ion-icon>Hapus
        </ion-button>
        <ion-button class="ion-margin-start ion-margin-bottom ion-float-right" type="submit">
          <ion-icon name="save-outline" slot="start"></ion-icon>Simpan
        </ion-button>
      </ion-card-content>
    </ion-card>
    <!-- </div> -->
  </form>

</div>