<ion-header>
  <ion-toolbar>
    <ion-title>Setting Rumus Nilai Akhir Semester</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="myForm" (ngSubmit)="simpan()">
    <ion-card style="margin: 16px auto;width: 460px;">
      <ion-card-content>
        <table style="margin: auto;">
          <tr>
            <td>Prosentase Harian</td>
            <td>:</td>
            <td>
              <ion-input type="number" formControlName="harian" placeholder="0" (ionInput)="ubah()"
                [ngClass]="(isSubmitted && myForm.get('harian').hasError('required'))?'form-invalid':''"></ion-input>
            </td>
            <td>%</td>
          </tr>
          <tr>
            <td>Prosentase Tengah Semester</td>
            <td>:</td>
            <td>
              <ion-input type="number" formControlName="tengah" placeholder="0" (ionInput)="ubah()"
                [ngClass]="(isSubmitted && myForm.get('tengah').hasError('required'))?'form-invalid':''"></ion-input>
            </td>
            <td>%</td>
          </tr>
          <tr>
            <td>Prosentase Akhir Semester</td>
            <td>:</td>
            <td>
              <ion-input type="number" formControlName="akhir" placeholder="0" (ionInput)="ubah()"
                [ngClass]="(isSubmitted && myForm.get('akhir').hasError('required'))?'form-invalid':''"></ion-input>
            </td>
            <td>%</td>
          </tr>
        </table>
      </ion-card-content>
      <ion-card-content class="ion-padding ion-text-center" style="border-top: 1px solid #ddd;">
        <ion-button *ngIf="btn_submit_aktif==false" color="medium" disabled>Simpan Perubahan</ion-button>
        <ion-button *ngIf="btn_submit_aktif==true" type="submit">Simpan Perubahan</ion-button>
      </ion-card-content>
    </ion-card>
  </form>

</ion-content>