table {
    width: auto;
    tr {
        td {
            background-color: transparent;
            border: none;
            font-size: 16px;
            vertical-align: middle;
        }
    }
}

ion-input {
    width: 60px;
}