<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Penilaian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true">

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" (ionChange)="segmentChanged($event)"
                style="width: 60px;">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
              <ion-select [(ngModel)]="paralel" interface="popover" style="width: 60px;">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Semester :</ion-label>
              <ion-select [(ngModel)]="semester" class="ion-margin-end" interface="popover" style="width: 100px;">
                <ion-select-option value="1">Ganjil</ion-select-option>
                <ion-select-option value="2">Genap</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed" style="min-width:110px;">Tahun ajaran :</ion-label>
              <ion-select class="ion-margin-horizontal" [(ngModel)]="tahun" interface="popover" style="width: 90px;">
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2022">2022</ion-select-option>
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
                <ion-select-option value="2026">2026</ion-select-option>
                <ion-select-option value="2027">2027</ion-select-option>
                <ion-select-option value="2028">2028</ion-select-option>
                <ion-select-option value="2029">2029</ion-select-option>
                <ion-select-option value="2030">2030</ion-select-option>
              </ion-select>
              <ion-label style="font-weight: 400;">/ {{tahun_depan}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-top: 24px;">
    <ion-card-content class="ion-no-padding">
      <ion-segment class="segment_ki segment-inv" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
        <ion-segment-button value="0">
          <ion-label>KI 1 Spiritual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>KI 2 Sosial</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>KI 3 Pengetahuan</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>KI 4 Keterampilan</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>KI 5 Ekstrakurikuler</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>


  <div [ngSwitch]="segment" style="margin-top: 22px;">
    <!-- SLIDE 1 -->
    <app-ki1-nilai *ngSwitchCase="0" [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun"
      style="width: 100%;">
    </app-ki1-nilai>

    <!-- SLIDE 2 -->
    <app-ki2-nilai *ngSwitchCase="1" [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun"
      style="width: 100%;">
    </app-ki2-nilai>

    <!-- SLIDE 3 -->
    <app-ki3-nilai *ngSwitchCase="2" [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun"
      style="width: 100%;">
    </app-ki3-nilai>

    <!-- SLIDE 4 -->
    <app-ki4-nilai *ngSwitchCase="3" [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun"
      style="width: 100%;">
    </app-ki4-nilai>

    <!-- SLIDE 5 -->
    <app-ki5-nilai *ngSwitchCase="4" [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun"
      style="width: 100%;">
    </app-ki5-nilai>
  </div>

  <!-- <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide> 
      <app-ki1-nilai [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun" style="width: 100%;">
      </app-ki1-nilai>
    </ion-slide>
    <ion-slide> 
      <app-ki2-nilai [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun" style="width: 100%;">
      </app-ki2-nilai>
    </ion-slide>
    <ion-slide> 
      <app-ki3-nilai [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun" style="width: 100%;">
      </app-ki3-nilai>
    </ion-slide>
    <ion-slide> 
      <app-ki4-nilai [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun" style="width: 100%;">
      </app-ki4-nilai>
    </ion-slide>
    <ion-slide> 
      <app-ki5-nilai [kelas]="kelas" [paralel]="paralel" [semester]="semester" [tahun]="tahun" style="width: 100%;">
      </app-ki5-nilai>
    </ion-slide>
  </ion-slides> -->

</ion-content>