<ion-card>
  <ion-card-content class="ion-no-padding">
    <table>
      <tr>
        <th rowspan="2">No.</th>
        <th rowspan="2">Tema</th>
        <th rowspan="2">Sub Tema</th>
        <th colspan="3">Nilai KI 4</th>
      </tr>
      <tr>
        <th>Praktik</th>
        <th>Produk</th>
      </tr>
      <tr *ngFor="let db of data_tema; let i = index;">
        <td>{{i+1}}</td>
        <td>{{db.tema_nama}}</td>
        <td class="ion-text-center">1, 2, 3, 4</td>
        <td class="ion-text-center">
          <ion-button (click)="detail(0, db.tema_nama)">PT Tema {{i+1}}</ion-button>
        </td>
        <td class="ion-text-center">
          <ion-button (click)="detail(1, db.tema_nama)">PD Tema {{i+1}}</ion-button>
        </td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-button class="ion-float-end ion-margin-bottom" style="width:160px">Rekap KI 4</ion-button>
  </ion-card-content>
</ion-card>