<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Guru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom" style="margin-left: auto; margin-right: auto; max-width: 700px;"
    [style.--background]="isEdit?'#eee':'#fff'">
    <ion-card-content>
      <table>
        <tr>
          <td width="180"><b>Nama Guru</b></td>
          <td width="1"><b>:</b></td>
          <td [style.font-weight]="'600'">
            <div *ngIf="isEdit==false">{{nama_guru}}</div>
            <ion-input *ngIf="isEdit==true" [(ngModel)]="nama_guru"></ion-input>
          </td>
        </tr>
        <tr>
          <td width="180"><b>NIY</b></td>
          <td width="1"><b>:</b></td>
          <td>
            <div *ngIf="isEdit==false">{{niy_guru}}</div>
            <ion-input *ngIf="isEdit==true" [(ngModel)]="niy_guru"></ion-input>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-bottom" style="margin-left: auto; margin-right: auto; max-width: 700px;"
    [style.--background]="isEdit?'#eee':'#fff'">
    <ion-card-content class="ion-text-end">
      <ion-button *ngIf="isEdit==false" class="ion-margin-start" (click)="isEdit=true">
        <ion-icon name="create" slot="start"></ion-icon>Ubah
      </ion-button>

      <div *ngIf="isEdit==true">
        <ion-button class="ion-margin-start" color="medium" fill="outline" (click)="isEdit=false">
          <ion-icon name="return-up-back" slot="start"></ion-icon>Batal
        </ion-button>
        <ion-button class="ion-margin-start" (click)="simpan()">
          <ion-icon name="save" slot="start"></ion-icon>Simpan
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <div class="ion-padding frame ion-text-end" style="margin-left: auto; margin-right: auto; max-width: 700px;">
    <ion-button class="ion-margin-start">
      <ion-icon name="create" slot="start"></ion-icon>Ubah
    </ion-button>
  </div> -->



</ion-content>