<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>KI 4 {{judul}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="loading" style="margin-top: 26px;">
    <ion-card-content class="ion-no-padding">
      <ion-skeleton-text animated style="height: calc(100vh - 280px);"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <div [class]="animasi" style="margin-top: 26px;">

    <ion-card *ngIf="!loading">
      <ion-card-content class="ion-no-padding">
        <div style="overflow-x: scroll;">
          <table id="lebar_col1" style="position:absolute;width: auto;z-index: 3;">
            <tr [style.height]="'calc(' + tinggi_col1 + 'px)'">
              <th rowspan="2" style="height: 76px;">No.</th>
              <th rowspan="2">Nama Siswa</th>
            </tr>
            <tbody *ngFor="let db of data_nilai; let i = index">
              <tr>
                <td align="right" style="background: #fff;">{{i+1}}.</td>
                <td style="margin-left: 50px;background: #fff;height:65px;white-space: nowrap;width: 200px;">
                  {{db.nama_siswa}}</td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead id="tinggi_col1">
              <tr>
                <th rowspan="2" class="ion-no-padding" [style.padding-right]="'calc(' + lebar_col1 + 'px)'"></th>
                <th *ngFor="let dbe of data_mapel; let e = index" [attr.colspan]="dbe.jumlah">{{dbe.mapel_nama}}</th>
              </tr>
              <tr>
                <!-- <th *ngFor="let db of data_ki; let i = index" style="min-width: 150px;">{{db.kode}}</th> -->
                <th *ngFor="let db of data_ki; let i = index">{{db.kode}}</th>
              </tr>
            </thead>
            <tbody *ngFor="let db of data_nilai; let x = index">
              <tr>
                <td class="ion-no-padding"></td>
                <td *ngFor="let dbs of data_nilai[x].nilai" class="ion-text-center">
                  <ion-input [value]="dbs.nilai" min="0" (keypress)="numberOnly($event)"
                    style="margin: auto;max-width: 70px;min-width: 50px;"
                    (ionChange)="edit(dbs.id, dbs.id_nilai, db.id_siswa, $event.target.value)"></ion-input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
      <ion-card-content class="ion-text-end" style="background:#efefef">
        <ion-button class="btn_simpan" (click)="simpan()">Simpan</ion-button>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>