<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{judul}} : Kelas {{kelas}} {{paralel}} Tahun ajaran {{tahun}}/{{tahun+1}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="isSubmitted && myForm.invalid" class="msg-err">
    <ion-card-content>
      Silahkan lengkapi isian yang berwarna merah.
    </ion-card-content>
  </ion-card>

  <form [formGroup]="myForm" (ngSubmit)="simpan()">

    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding" size="6">

          <ion-card style="height:calc(100% - 20px);">
            <ion-card-content>
              <!-- <ion-grid class="ion-margin-bottom ion-padding frame"> -->
              <ion-grid>

                <ion-row class="ion-align-items-center">
                  <ion-col size="auto">
                    <div class="form-label">NISN/NIS</div>
                  </ion-col>
                  <ion-col>
                    <ion-input #input1 *ngIf="isNewData" formControlName="nis" (ionChange)="autofill($event.target)"
                      [ngClass]="(isSubmitted && myForm.get('nis').hasError('required'))?'form-invalid':''" >
                    </ion-input>
                    <div *ngIf="!isNewData" style="font-weight: 600;">
                      : {{nis}}
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Nama Siswa</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="nama"
                      [ngClass]="(isSubmitted && myForm.get('nama').hasError('required'))?'form-invalid':''">
                    </ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">SMT 1 tinggi</div>
                  </ion-col>
                  <ion-col>
                    <ion-input type="number" formControlName="smt1_tinggi" placeholder="0"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">SMT 1 berat</div>
                  </ion-col>
                  <ion-col>
                    <ion-input type="number" formControlName="smt1_berat" placeholder="0"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">SMT 2 tinggi</div>
                  </ion-col>
                  <ion-col>
                    <ion-input type="number" formControlName="smt2_tinggi" placeholder="0"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">SMT 2 berat</div>
                  </ion-col>
                  <ion-col>
                    <ion-input type="number" formControlName="smt2_berat" placeholder="0"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Tempat lahir</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="lahir_tempat"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Tanggal lahir</div>
                  </ion-col>
                  <ion-col>
                    <ion-input type="date" formControlName="lahir_tanggal"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Jenis Kelamin</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="gender"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Kode Agama</div>
                  </ion-col>
                  <ion-col>
                    <!-- <ion-input formControlName="agama_kode"></ion-input> -->

                    <ion-select formControlName="agama_kode" interface="popover" (ionChange)="setAgama($event.target.value)">
                      <ion-select-option value="1">1</ion-select-option>
                      <ion-select-option value="2">2</ion-select-option>
                      <ion-select-option value="3">3</ion-select-option>
                      <ion-select-option value="4">4</ion-select-option>
                      <ion-select-option value="5">5</ion-select-option>
                      <ion-select-option value="6">6</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col size="auto">
                    <div class="form-label">Agama</div>
                  </ion-col>
                  <ion-col>
                    <!-- <ion-input formControlName="agama_nama"></ion-input> -->
                    <div>
                      <span style="font-weight: 600;">: </span>{{agama_nama}}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Alamat Siswa</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="alamat"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Pendidikan sebelumnya</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="pendidikan_sebelum"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col class="ion-no-padding" size="6">

          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col size="auto">
                  <div class="form-label">Kesehatan telinga</div>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="kesehatan_telinga"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto">
                  <div class="form-label">Kesehatan mata</div>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="kesehatan_mata"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto">
                  <div class="form-label">Kesehatan gigi</div>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="kesehatan_gigi"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto">
                  <div class="form-label">Kesehatan lain</div>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="kesehatan_lain"></ion-input>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Nama ayah</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="ayah_nama"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Nama ibu</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="ibu_nama"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Pekerjaan ayah</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="ayah_pekerjaan"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Pekerjaan ibu</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="ibu_pekerjaan"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Alamat orangtua</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="orangtua_alamat"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Nama wali</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="wali_nama"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Pekerjaan wali</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="wali_pekerjaan"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto">
                    <div class="form-label">Alamat wali</div>
                  </ion-col>
                  <ion-col>
                    <ion-input formControlName="wali_alamat"></ion-input>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div class="ion-padding frame"> -->
    <ion-card>
      <ion-card-content>
        <ion-button *ngIf="isNewData==false" class="ion-margin-end" color="danger" fill="outline" (click)="hapus()">
          <ion-icon name="trash-outline" slot="start"></ion-icon>Hapus
        </ion-button>
        <ion-button class="ion-margin-start ion-margin-bottom ion-float-right" type="submit">
          <ion-icon name="save-outline" slot="start"></ion-icon>Simpan
        </ion-button>
      </ion-card-content>
    </ion-card>
    <!-- </div> -->
  </form>

</ion-content>