<ion-grid>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <table rules="all" height="100%">
            <tr>
              <th colspan="4" class="ion-no-padding ion-padding-start">
                <ion-item class="ion-no-padding ion-no-margin" lines="none">
                  <ion-label class="ion-no-padding ion-no-margin" color="light">Aspek yang dinilai - KI 3
                  </ion-label>
                  <ion-button color="light" id="modal-detail-3" (click)="tambah()">
                    <ion-icon name="add-outline" slot="start"></ion-icon>Tambah Aspek
                  </ion-button>
                </ion-item>
              </th>
            </tr>

            <tbody>
              <tr *ngFor="let db of data; let i = index;" (click)="edit(db.id, db.id_mapel,db.kode, db.aspek);">
                <td *ngIf="i==0" [attr.rowspan]="db.baris" class="ion-text-end" width="50">{{db.nomor}}</td>
                <td *ngIf="i>0 && (data[i].id_mapel != data[i-1].id_mapel) || (i>0 && db.id_mapel==null)"
                  [attr.rowspan]="db.baris" class="ion-text-end" width="50">{{db.nomor}}</td>

                <td *ngIf="i==0" [attr.rowspan]="db.baris" style="min-width: 164px;">
                  {{db.mapel_nama}}
                </td>
                <td *ngIf="i>0 && (data[i].id_mapel != data[i-1].id_mapel) || (i>0 && db.id_mapel==null)"
                  [attr.rowspan]="db.baris">
                  {{db.mapel_nama}}
                </td>

                <td>
                  <div *ngIf="db.kode">{{db.kode}}</div>
                </td>
                <td>
                  <div *ngIf="db.aspek">{{db.aspek}}</div>
                </td>
              </tr>
            </tbody>

          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-modal trigger="modal-detail-3" [isOpen]="openModal" [backdropDismiss]="false">
  <ng-template>

    <ion-toolbar>
      <ion-title>{{judul}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="modalController.dismiss();openModal=false;">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <form [formGroup]="myForm" (ngSubmit)="simpan()">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <div class="form-label">Mata Pelajaran</div>
              </ion-col>
              <ion-col>
                <ion-select formControlName="id_mapel" interface="popover">
                  <ion-select-option *ngFor="let db of data_mapel" [value]="db.id">{{db.mapel_nama}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto">
                <div class="form-label">Kode</div>
              </ion-col>
              <ion-col>
                <ion-input formControlName="kode"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto">
                <div class="form-label">Parameter</div>
              </ion-col>
              <ion-col>
                <ion-textarea formControlName="aspek" rows="3"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-button class="ion-margin-end" color="medium" fill="outline"
            (click)="modalController.dismiss();openModal=false;">
            <ion-icon name="return-up-back-sharp" slot="start"></ion-icon>Batal
          </ion-button>

          <ion-button *ngIf="isNewData==false" class="ion-margin-end" color="danger" fill="outline" (click)="hapus()">
            <ion-icon name="trash-outline" slot="start"></ion-icon>Hapus
          </ion-button>
          <ion-button class="ion-margin-start ion-margin-bottom ion-float-right" type="submit">
            <ion-icon name="save-outline" slot="start"></ion-icon>Simpan
          </ion-button>
        </ion-card-content>
      </ion-card>
    </form>

  </ng-template>
</ion-modal>