<ion-grid>
  <ion-row>
    <ion-col *ngFor="let db of data_ekstra; let i = index" class="ion-no-padding" size="4">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <table rules="all">
            <tr>
              <th class="ion-no-padding ion-padding-start" colspan="2">
                <ion-item class="ion-no-padding ion-no-margin" lines="none">
                  <ion-label class="ion-no-padding ion-no-margin" color="light">{{i+1}}. {{db.ekstra_nama}}
                  </ion-label>
                  <ion-icon color="light" name="create-sharp" slot="end"
                    (click)="edit_ki_5_ekstra(db.id,db. ekstra_nama)">
                  </ion-icon>
                </ion-item>
              </th>
            </tr>
            <tbody *ngFor="let dbs of data_aspek; let x = index">
              <tr *ngIf="db.id==dbs.id_ekstra" (click)="edit_ki_5_aspek(dbs.id, dbs.aspek)">
                <td class="ion-text-center" width="50">{{dbs.nomor}}.</td>
                <td>{{dbs.aspek}}</td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
        <ion-card-content style="border-top: 1px solid #ccc;background:#f1f1f1;">
          <ion-button color="light" (click)="tambah_ki_5_aspek(db.id)">
            <ion-icon name="add-outline" slot="start"></ion-icon>Tambah Aspek
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-padding-top">
      <ion-button class="ion-margin" (click)="tambah_ki_5_ekstra()">
        <ion-icon name="add-outline" slot="start"></ion-icon>Tambah Ekstrakurikuler
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>