<ion-grid>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <table rules="all">
            <tr>
              <th colspan="2" class="ion-no-padding ion-padding-start">
                <ion-item class="ion-no-padding ion-no-margin" lines="none">
                  <ion-label class="ion-no-padding ion-no-margin" color="light">Aspek yang dinilai Sikap
                    Spiritual - KI 1</ion-label>
                  <ion-button color="light" (click)="tambah_ki_1()">
                    <ion-icon name="add-outline" slot="start"></ion-icon>Tambah Aspek
                  </ion-button>
                </ion-item>
              </th>
            </tr>
            <tr *ngFor="let db of param_ki_1; let i = index;" (click)="edit_ki_1(db.id, db.aspek)">
              <td class="ion-text-end" width="60">{{i+1}}.</td>
              <td>{{db.aspek}}</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>