<div class="kotak">
    <pdf-viewer  [src]="pdfSrc" [render-text]="true" [original-size]="true"
        style="width: 100%; height: calc(100vh - 330px)">
    </pdf-viewer>
</div>

<div class="ion-text-end" style="margin-top: 8px;">
    <ion-button (click)="cetak()">Cetak</ion-button>
</div>