<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Rekap KI 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" style="width:60px;"
                (ionChange)="setKelas()">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
              <ion-select [(ngModel)]="paralel" interface="popover" style="width:60px;">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Semester :</ion-label>
              <ion-select [(ngModel)]="semester" class="ion-margin-end" interface="popover" style="width:100px;">
                <ion-select-option value="1">Ganjil</ion-select-option>
                <ion-select-option value="2">Genap</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed" style="min-width:110px;">Tahun ajaran :</ion-label>
              <ion-select class="ion-margin-horizontal" [(ngModel)]="tahun" interface="popover" style="width:90px;">
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2022">2022</ion-select-option>
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
                <ion-select-option value="2026">2026</ion-select-option>
                <ion-select-option value="2027">2027</ion-select-option>
                <ion-select-option value="2028">2028</ion-select-option>
                <ion-select-option value="2029">2029</ion-select-option>
                <ion-select-option value="2030">2030</ion-select-option>
              </ion-select>
              <ion-label style="font-weight:400;">/ {{tahun_depan}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid class="ion-margin-top ion-no-padding">

    <ion-row *ngIf="!id_siswa">
      <ion-col class="ion-no-padding">
        <ion-chip class="chip-info" outline>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>Klik salah satu nama siswa untuk menampilkan rapor.</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-no-padding">

            <ion-grid class="ion-no-padding">
              <ion-row>

                <ion-col size="auto" style="background:#eee">
                  <ion-segment style="display:block;" (ionChange)="sgSiswaChanged($event)" [(ngModel)]="id_siswa">
                    <ion-segment-button class="list_nama" *ngFor="let db of data_siswa; let i = index;" [value]="db.id">
                      <ion-label>{{db.nama}}</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>

                <ion-col class="ion-padding" style="background:#fff;overflow:auto;height:calc(100vh - 190px);">

                  <table>
                    <tr>
                      <th rowspan="2">No.</th>
                      <th rowspan="2">Mata Pelajaran</th>
                      <th rowspan="2">KD</th>
                      <th [attr.colspan]="count_tema + 1">NPH</th>

                      <th [attr.colspan]="count_tema - 1">NPTS</th>

                      <th [attr.colspan]="count_tema + 1">NPAS</th>

                      <th colspan="3">Akhir Semester</th>

                      <th rowspan="2">Deskripsi NPAS K3</th>

                      <th colspan="3">Tengah Semester</th>

                      <th rowspan="2">Deskripsi NPTS K3</th>
                    </tr>
                    <tr>
                      <th *ngFor="let db of data_tema; let i = index;">T{{i+1}}</th>
                      <th>NPH</th>
                      <!-- </tr>
                    <tr> -->
                      <!-- <th *ngFor="let db of data_tema;">NPH</th> -->

                      <th>T1</th>
                      <th>T2</th>
                      <th *ngIf="count_tema == 5">T3</th>
                      <th>NPTS</th>

                      <th *ngFor="let db of data_tema; let i = index;">T{{i+1}}</th>

                      <th>NPAS</th>

                      <th>Nilai</th>
                      <th>P</th>
                      <th>TB</th>

                      <th>Nilai</th>
                      <th>P</th>
                      <th>TB</th>
                    </tr>

                    <tr *ngFor="let db of data_rekap; let i = index;"
                      (click)="edit(db.id, db.id_mapel,db.kode, db.aspek);">

                      <td *ngIf="i==0" [attr.rowspan]="db.baris" class="ion-text-end" width="50">{{db.nomor}}</td>
                      <td
                        *ngIf="i>0 && (data_rekap[i].id_mapel != data_rekap[i-1].id_mapel) || (i>0 && db.id_mapel==null)"
                        [attr.rowspan]="db.baris" class="ion-text-end" width="50">{{db.nomor}}</td>

                      <td *ngIf="i==0" [attr.rowspan]="db.baris" style="min-width:164px;">
                        {{db.mapel_nama}}
                      </td>
                      <td
                        *ngIf="i>0 && (data_rekap[i].id_mapel != data_rekap[i-1].id_mapel) || (i>0 && db.id_mapel==null)"
                        [attr.rowspan]="db.baris">
                        {{db.mapel_nama}}
                      </td>

                      <td>
                        <div *ngIf="db.kode">{{db.kode}}</div>
                      </td>

                      <!-- TOTAL PER MAPEL -->
                      <td *ngIf="db.total" colspan="13">Total : </td>
                      <td *ngIf="db.total">{{db.nilai_as}}</td>
                      <td *ngIf="db.total" colspan="3"></td>
                      <td *ngIf="db.total">{{db.nilai_ts}}</td>
                      <td *ngIf="db.total" colspan="3"></td>

                      <td *ngIf="!db.total" [ngClass]="db.cek_t1=='false'?'kuning':'hijau'">{{db.nilai_nph_t1}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t2=='false'?'kuning':'hijau'">{{db.nilai_nph_t2}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t3=='false'?'kuning':'hijau'">{{db.nilai_nph_t3}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t4=='false'?'kuning':'hijau'">{{db.nilai_nph_t4}}</td>
                      <td *ngIf="!db.total">
                        <div *ngIf="db.jumlah_nph">{{db.jumlah_nph}}</div>
                      </td>

                      <td *ngIf="!db.total" [ngClass]="db.cek_t1=='false'?'kuning':'hijau'">{{db.nilai_npts_t1}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t2=='false'?'kuning':'hijau'">{{db.nilai_npts_t2}}</td>
                      <td *ngIf="!db.total">
                        <div *ngIf="db.jumlah_npts">{{db.jumlah_npts}}</div>
                      </td>

                      <td *ngIf="!db.total" [ngClass]="db.cek_t1=='false'?'kuning':'hijau'">{{db.nilai_npas_t1}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t2=='false'?'kuning':'hijau'">{{db.nilai_npas_t2}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t3=='false'?'kuning':'hijau'">{{db.nilai_npas_t3}}</td>
                      <td *ngIf="!db.total" [ngClass]="db.cek_t4=='false'?'kuning':'hijau'">{{db.nilai_npas_t4}}</td>
                      <td *ngIf="!db.total">
                        <div *ngIf="db.jumlah_npas">{{db.jumlah_npas}}</div>
                      </td>

                      <td *ngIf="!db.total">
                        <div *ngIf="db.nilai_semester_akhir">{{db.nilai_semester_akhir}}</div>
                      </td>
                      <td *ngIf="!db.total">{{db.predikat_semester_akhir}}</td>
                      <td *ngIf="!db.total">{{db.tb_semester_akhir}} </td>

                      <td *ngIf="!db.total" class="tooltip" style="padding:4px;">
                        <div class="deskripsi">{{db.deskripsi_semester_akhir}}</div>
                        <span class="tooltiptext">{{db.deskripsi_semester_akhir}}</span>
                      </td>

                      <td *ngIf="!db.total">
                        <div *ngIf="db.nilai_semester_tengah">{{db.nilai_semester_tengah}}</div>
                      </td>
                      <td *ngIf="!db.total">{{db.predikat_semester_tengah}}</td>
                      <td *ngIf="!db.total">{{db.tb_semester_tengah}}</td>

                      <td *ngIf="!db.total" class="tooltip" style="padding:4px;">
                        <div class="deskripsi">{{db.deskripsi_semester_tengah}}</div>
                        <span class="tooltiptext">{{db.deskripsi_semester_tengah}}</span>
                      </td>
                    </tr>

                  </table>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>