.deskripsi {
    font-size: 13px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    vertical-align: middle;
}

.list_nama {
    --background-checked: var(--ion-color-primary);
    --color-checked: #fff;
    --indicator-height: 0;
    --margin-top: 0;
    --ripple-color: transparent;

    ion-label {
        text-align: left;
        width: 100%;
    }
}

.kuning {
    background-color: rgb(226, 226, 4);
}

.hijau {
    background-color: rgb(130, 211, 9);
}

td {
    min-width: 54px;
}

/* Tooltip container */
.tooltip {
    // position: relative;
    // display: inline-block;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 13px;
    border: 1px solid #777;

    visibility: hidden;
    width: 300px;
    background-color: #ffeaa7;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}