<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rapor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" (ionChange)="load_data_siswa()"
                style="width: 60px;">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
              <ion-select [(ngModel)]="paralel" interface="popover" style="width: 60px;">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Semester :</ion-label>
              <ion-select [(ngModel)]="semester" class="ion-margin-end" interface="popover" style="width: 100px;">
                <ion-select-option value="1">Ganjil</ion-select-option>
                <ion-select-option value="2">Genap</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed" style="min-width:110px;">Tahun ajaran :</ion-label>
              <ion-select class="ion-margin-horizontal" [(ngModel)]="tahun" interface="popover" style="width: 90px;"
                (ionChange)="setTahun()">
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2022">2022</ion-select-option>
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
                <ion-select-option value="2026">2026</ion-select-option>
                <ion-select-option value="2027">2027</ion-select-option>
                <ion-select-option value="2028">2028</ion-select-option>
                <ion-select-option value="2029">2029</ion-select-option>
                <ion-select-option value="2030">2030</ion-select-option>
              </ion-select>
              <ion-label style="font-weight: 400;">/ {{tahun_depan}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid class="ion-margin-top ion-no-padding">

    <ion-row *ngIf="!id_siswa">
      <ion-col class="ion-no-padding">
        <ion-chip class="chip-info" outline>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>Klik salah satu nama siswa untuk menampilkan rapor.</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-no-padding">

            <ion-grid class="ion-no-padding">
              <ion-row>

                <ion-col size="auto" style="background:#eee;min-width:160px;">
                  <ion-segment style="display: block;" (ionChange)="sgSiswaChanged($event)" [(ngModel)]="id_siswa">
                    <ion-segment-button class="list_nama" *ngFor="let db of data_siswa; let i = index;" [value]="db.id">
                      <ion-label>{{db.nama}}</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>

                <ion-col class="ion-padding" style="background:#fff">

                  <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
                    <ion-segment-button value="cover">
                      <ion-label>Cover</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="semester-tengah">
                      <ion-label>Tengah Semester</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="semester-akhir">
                      <ion-label>Akhir Semester</ion-label>
                    </ion-segment-button>
                  </ion-segment>

                  <div [ngSwitch]="segment" style="margin-top: 22px;">

                    <app-rapor-cover *ngSwitchCase="'cover'" [kelas]="kelas" [paralel]="paralel" [semester]="semester"
                      [tahun]="tahun" [id_siswa]="id_siswa">
                    </app-rapor-cover>
                    <app-rapor-semester-tengah *ngSwitchCase="'semester-tengah'" [kelas]="kelas" [paralel]="paralel"
                      [semester]="semester" [tahun]="tahun" [id_siswa]="id_siswa">
                    </app-rapor-semester-tengah>
                    <app-rapor-semester-akhir *ngSwitchCase="'semester-akhir'" [kelas]="kelas" [paralel]="paralel"
                      [semester]="semester" [tahun]="tahun" [id_siswa]="id_siswa">
                    </app-rapor-semester-akhir>

                  </div>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>