.list_nama   {
    --background-checked: var(--ion-color-primary);
    --color-checked: #fff;
    --indicator-height:0;
    --margin-top: 0;
    --ripple-color: transparent;

    ion-label {
        text-align: left;
        width: 100%;
    }
}

ion-segment-button{
    --margin-top: 0;
}
