<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KI KD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" style="width: 60px;"
                (ionChange)="ngOnInit()">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
        <ion-segment-button value="0">
          <ion-label>Parameter KI 1</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Parameter KI 2</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Parameter KI 3 </ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>Parameter KI 4</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>Parameter KI 5</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
    <ion-card-content>

      <ion-slides #slides (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <!-- SLIDE 1 -->
          <app-ki1 [kelas]="kelas" style="width: 100%;"></app-ki1>
        </ion-slide>
        <ion-slide>
          <!-- SLIDE 2 -->
          <app-ki2 [kelas]="kelas" style="width: 100%;"></app-ki2>
        </ion-slide>
        <ion-slide>
          <!-- SLIDE 3 -->
          <app-ki3 [kelas]="kelas" style="width: 100%;"></app-ki3>
        </ion-slide>
        <ion-slide>
          <!-- SLIDE 4 -->
          <app-ki4 [kelas]="kelas" style="width: 100%;"></app-ki4>
        </ion-slide>
        <ion-slide>
          <!-- SLIDE 5 -->
          <app-ki5 [kelas]="kelas" style="width: 100%;"></app-ki5>
        </ion-slide>
      </ion-slides>

    </ion-card-content>
  </ion-card>

</ion-content>