<ion-card>
  <ion-card-content class="ion-no-padding">
    <table>
      <tr>
        <th rowspan="2">No.</th>
        <th rowspan="2">Tema</th>
        <th rowspan="2">Sub Tema</th>
        <th colspan="3">Nilai KI 3</th>
      </tr>
      <tr>
        <th>Harian</th>
        <th>Tengah Semester</th>
        <th>Akhir Semester</th>
      </tr>
      <tr *ngFor="let db of data_tema; let i = index;">
        <td>{{i+1}}</td>
        <td>{{db.tema_nama}}</td>
        <td class="ion-text-center">1, 2, 3, 4</td>
        <td class="ion-text-center">
          <ion-button (click)="detail(0, db.tema_nama, db.id_tema)">H Tema {{i+1}}</ion-button>
        </td>
        <td class="ion-text-center">
          <ion-button *ngIf="i < (count_tema - 2)" (click)="detail(1, db.tema_nama, db.id_tema)">TS Tema {{i+1}}</ion-button>
        </td>
        <td class="ion-text-center">
          <ion-button (click)="detail(2, db.tema_nama, db.id_tema)">AS Tema {{i+1}}</ion-button>
        </td>
      </tr>
    </table>
  </ion-card-content>
</ion-card> 

<ion-card>
  <ion-card-content>
    <ion-button class="ion-float-end ion-margin-bottom" [routerLink]="['/penilaian/ki3-rekap', kelas, semester, tahun]"
      style="width:160px">Rekap KI 3</ion-button>
  </ion-card-content>
</ion-card>