<ion-header>
  <ion-toolbar>
    <ion-title>Setting Penilaian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding" size="auto">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" style="width: 60px;"
                (ionChange)="load_data();load_data_tema();">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding" size="auto">
            <ion-item lines="none">
              <ion-label position="fixed">Tema :</ion-label>
              <ion-select [(ngModel)]="id_tema" class="ion-margin-end" interface="popover" style="width:400px;"
                (ionChange)="load_data();">
                <ion-select-option *ngFor="let db of data_tema" [value]="db.id_tema">{{db.tema_nama}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid *ngIf="id_tema" class="ion-margin-top ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-no-padding">

            <table>
              <tr>
                <th>No.</th>
                <th width="40%">Mata Pelajaran</th>
                <th class="ion-text-start">KD</th>
                <th>&nbsp;</th>
              </tr>

              <tr *ngFor="let db of data; let i = index;">

                <td *ngIf="i==0" [attr.rowspan]="db.baris" class="ion-text-end" width="50">{{db.nomor}}</td>

                <td *ngIf="i>0 && (data[i].id_mapel != data[i-1].id_mapel) || (i>0 && db.id_mapel==null)"
                  [attr.rowspan]="db.baris" class="ion-text-end" width="50">{{db.nomor}}</td>

                <td *ngIf="i==0" [attr.rowspan]="db.baris" style="min-width: 164px;">
                  {{db.mapel_nama}}
                </td>

                <td *ngIf="i>0 && (data[i].id_mapel != data[i-1].id_mapel) || (i>0 && db.id_mapel==null)"
                  [attr.rowspan]="db.baris">
                  {{db.mapel_nama}}
                </td>

                <td>
                  <div>{{db.kode}}</div>
                </td>

                <td class="ion-text-center">
                  <ion-checkbox [checked]="db.cek" (ionChange)="checking(db.id_nilai_ki3_setting,db.id_ki3,$event)">
                  </ion-checkbox>
                </td>
              </tr>
            </table>



          </ion-card-content>
        </ion-card>

        <!-- <ion-card>
          <ion-card-header>
            {{db.mapel_nama}}
          </ion-card-header>
          <ion-card-content class="ion-no-padding"> 
          </ion-card-content>
        </ion-card> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>