<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Siswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" style="width: 60px;"
                (ionChange)="load_data();">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
              <ion-select [(ngModel)]="paralel" interface="popover" style="width: 60px;" (ionChange)="load_data();">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed" style="min-width:110px;">Tahun ajaran :</ion-label>
              <ion-select class="ion-margin-horizontal" [(ngModel)]="tahun" interface="popover" style="width: 90px;"
                (ionChange)="setTahun();load_data();">
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2022">2022</ion-select-option>
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
                <ion-select-option value="2026">2026</ion-select-option>
                <ion-select-option value="2027">2027</ion-select-option>
                <ion-select-option value="2028">2028</ion-select-option>
                <ion-select-option value="2029">2029</ion-select-option>
                <ion-select-option value="2030">2030</ion-select-option>
              </ion-select>
              <ion-label style="font-weight: 400;">/ {{tahun_depan}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> 

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center ion-justify-content-end">
      <ion-col size-xs="12" size-sm="6">
        <ion-searchbar [(ngModel)]="filter" #pencarian debounce="500" animated placeholder="Pencarian"
          (ionChange)="load_data($event.target)">
        </ion-searchbar>
      </ion-col>
      <ion-col class="ion-padding ion-text-end">
        <ion-button (click)="detail('')">
          <ion-icon name="add-outline" slot="start"></ion-icon>Tambah Siswa
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading==true">
    <ion-chip class="chip-info ion-no-padding" style="width: 280px;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-chip>

    <ion-card class="ion-margin-vertical">
      <ion-card-content class="ion-no-padding" style="height: 300px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="info-kosong ion-text-center ion-padding ion-margin" *ngIf="data.length==0 && loading==false;">
    <ion-icon name="file-tray-outline"></ion-icon>
    <br>
    Data Kelas {{kelas}} {{paralel}} tahun ajaran {{tahun}}/{{tahun_depan}} masih kosong,
    <br>
    Silahkan klik tombol "Tambah Siswa" untuk menambah siswa.
  </div>

  <div *ngIf="data.length>0 && loading==false;">
    <ion-chip class="chip-info" outline>
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Klik salah satu siswa untuk mengedit.</ion-label>
    </ion-chip>

    <ion-card class="ion-margin-vertical">
      <ion-card-content class="ion-no-padding">
        <div style="overflow-x: scroll;">
          <table id="lebar_col1" style="position:absolute;width: auto;">
            <tr [style.height]="'calc(' + tinggi_col1 + 'px)'">
              <th rowspan="2" style="height: 76px;">No.</th>
              <th rowspan="2">Nama Siswa</th>
            </tr>
            <tbody *ngFor="let db of data; let i = index" (click)="detail(db)" (mouseenter)="pilih(db.id)">
              <tr>
                <td align="right" style="background: #fff;">{{i+1}}.</td>
                <td style="margin-left: 50px;background: #fff;white-space: nowrap;width: 200px;">
                  {{db.nama}}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead id="tinggi_col1">
              <tr>
                <!-- <th style="position:absolute;width:50px;">No.</th>
            <th style="position:absolute;width:200px;margin-left: 50px;">Nama Siswa</th> -->
                <th rowspan="2" class="ion-no-padding" [style.padding-right]="'calc(' + lebar_col1 + 'px)'"></th>
                <th rowspan="2">NISN/NIS</th>
                <th colspan="2">SMT1</th>
                <th colspan="2">SMT2</th>
                <th colspan="4">Kondisi Kesehatan</th>
                <th rowspan="2">Tempat, Tanggal Lahir</th>
                <th rowspan="2">Jenis Kelamin</th>
                <th rowspan="2">Kode Agama</th>
                <th rowspan="2">Agama</th>
                <th rowspan="2">Pendidikan Sebelumnya</th>
                <th rowspan="2">Alamat Siswa</th>
                <th colspan="2">Nama Orangtua</th>
                <th colspan="2">Pekerjaan Orangtua</th>
                <th rowspan="2">Alamat Orangtua</th>
                <th colspan="3">Wali Siswa</th>
              </tr>
              <tr>
                <th>Tinggi</th>
                <th>Berat</th>
                <th>Tinggi</th>
                <th>Berat</th>
                <th>Telinga</th>
                <th>Mata</th>
                <th>Gigi</th>
                <th>Lain</th>
                <th>Ayah</th>
                <th>Ibu</th>
                <th>Ayah</th>
                <th>Ibu</th>
                <th>Nama</th>
                <th>Pekerjaan</th>
                <th>Alamat</th>
              </tr>
            </thead>
            <tbody *ngFor="let db of data; let i = index" (click)="detail(db)" (mouseenter)="pilih(db.id)">
              <!-- <tr style="position:absolute;">
                <td id="lebar_nomor" align="right" style="background: #fff;">{{i+1}}.</td>
                <td id="lebar_nama"
                  style="margin-left: 50px;background: #fff;">
                  {{db.nama}}</td>
              </tr>-->
              <tr>
                <!-- <td align="right" style="position:absolute;width:50px;">{{i+1}}.</td>
            <td style="position:absolute;width:200px;margin-left: 50px;">{{db.nama_siswa}}</td> -->
                <!-- <td style="padding: 0 137px;"></td> -->
                <td class="ion-no-padding"></td>
                <td>{{db.nis}}</td>
                <td>{{db.smt1_tinggi}}</td>
                <td>{{db.smt1_berat}}</td>
                <td>{{db.smt2_tinggi}}</td>
                <td>{{db.smt2_berat}}</td>
                <td>{{db.kesehatan_telinga}}</td>
                <td>{{db.kesehatan_mata}}</td>
                <td>{{db.kesehatan_gigi}}</td>
                <td>{{db.kesehatan_lain}}</td>
                <td>{{db.lahir_tempat}}, {{db.lahir_tanggal}}</td>
                <td>{{db.gender}}</td>
                <td>{{db.agama_kode}}</td>
                <td>{{db.agama_nama}}</td>
                <td>{{db.pendidikan_sebelum}}</td>
                <td>{{db.alamat}}</td>
                <td>{{db.ayah_nama}}</td>
                <td>{{db.ibu_nama}}</td>
                <td>{{db.ayah_pekerjaan}}</td>
                <td>{{db.ibu_pekerjaan}}</td>
                <td>{{db.orangtua_alamat}}</td>
                <td>{{db.wali_nama}}</td>
                <td>{{db.wali_pekerjaan}}</td>
                <td>{{db.wali_alamat}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>