<ion-card *ngIf="loading" style="margin-top: 26px;">
  <ion-card-content class="ion-no-padding">
    <ion-skeleton-text animated style="height: calc(100vh - 280px);"></ion-skeleton-text>
  </ion-card-content>
</ion-card>

<div [class]="animasi" style="margin-top: 26px;">

  <ion-card *ngIf="!loading">
    <ion-card-content class="ion-no-padding" style="overflow: auto;">

      <table>
        <tr>
          <th>No.</th>
          <th>Nama&nbsp;Siswa</th>
          <th *ngFor="let db of data_ki; let i = index">{{db.aspek}}</th>
        </tr>
        <tbody>
          <tr *ngFor="let db of data_nilai; let x = index">
            <td class="ion-text-end" width="1">{{x+1}}.</td>
            <td style="white-space: nowrap;">{{db.nama_siswa}}</td>
            <td *ngFor="let dbs of data_nilai[x].nilai" class="ion-text-center">
              <ion-input [value]="dbs.nilai" min="0" (keypress)="numberOnly($event)"
                style="margin: auto;max-width: 70px;min-width: 50px;"
                (ionChange)="edit(dbs.id, dbs.id_nilai, db.id_siswa, $event.target.value)"></ion-input>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
    <ion-card-content class="ion-text-end" style="background:#efefef">
      <ion-button *ngIf="data_siswa.length>0 && data_ki.length>0" class="btn_simpan" (click)="simpan()">Simpan
      </ion-button>
    </ion-card-content>
  </ion-card>

</div>