<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kriteria Penilaian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-content><ion-title class="ion-no-padding">K 1</ion-title></ion-card-content>
          <ion-card-content>
            <table>
              <tr>
                <th>Nilai</th>
                <th class="ion-text-start">Kriteria</th>
              </tr>
              <tr *ngFor="let db of data_ki1">
                <td class="ion-text-center">{{db.nilai}}</td>
                <td>{{db.kriteria}}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content><ion-title class="ion-no-padding">K 2</ion-title></ion-card-content>
          <ion-card-content>
            <table>
              <tr>
                <th>Nilai</th>
                <th class="ion-text-start">Kriteria</th>
              </tr>
              <tr *ngFor="let db of data_ki2">
                <td class="ion-text-center">{{db.nilai}}</td>
                <td>{{db.kriteria}}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content><ion-title class="ion-no-padding">K 5</ion-title></ion-card-content>
          <ion-card-content>
            <table>
              <tr>
                <th>Nilai</th>
                <th class="ion-text-start">Kriteria</th>
              </tr>
              <tr *ngFor="let db of data_ki5">
                <td class="ion-text-center">{{db.nilai}}</td>
                <td>{{db.kriteria}}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="4">
        <ion-card>
          <ion-card-content><ion-title class="ion-no-padding">K 3</ion-title></ion-card-content>
          <ion-card-content>
            <table>
              <tr>
                <th>Nilai</th>
                <th class="ion-text-start">Kriteria</th>
              </tr>
              <tr *ngFor="let db of data_ki3">
                <td class="ion-text-center">{{db.nilai}}</td>
                <td>{{db.kriteria}}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-content><ion-title class="ion-no-padding">K 4</ion-title></ion-card-content>
          <ion-card-content>
            <table>
              <tr>
                <th>Nilai</th>
                <th class="ion-text-start">Kriteria</th>
              </tr>
              <tr *ngFor="let db of data_ki4">
                <td class="ion-text-center">{{db.nilai}}</td>
                <td>{{db.kriteria}}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>