<ion-card *ngIf="loading" style="margin-top: 26px;">
  <ion-card-content class="ion-no-padding">
    <ion-skeleton-text animated style="height: calc(100vh - 280px);"></ion-skeleton-text>
  </ion-card-content>
</ion-card>

<div *ngIf="!loading" [class]="animasi" style="margin-top: 26px;">

  <div *ngIf="data_siswa.length==0" class="info-kosong ion-text-center ion-padding ion-margin">
    <!-- <ion-icon name="file-tray-outline"></ion-icon> -->
    <br>
    Data siswa kelas {{kelas}}{{paralel}}, tahun ajaran {{tahun}}/{{tahun_depan}} masih kosong,
    <br>
    Silahkan tambah data siswa dahulu.
  </div>

  <div *ngIf="data_ekstra.length==0" class="info-kosong ion-text-center ion-padding ion-margin">
    <!-- <ion-icon name="file-tray-outline"></ion-icon> -->
    <br>
    Data ekstrakurikuler kelas {{kelas}} masih kosong,
    <br>
    Silahkan tambah data ekstrakurikuler dahulu.
  </div>

  <ion-card *ngIf="data_siswa.length>0 && data_ekstra.length>0">
    <ion-card-content class="ion-no-padding">
      <div style="overflow-x: scroll;">
        <table id="lebar_col1" style="position:absolute;width: auto;z-index: 3;">
          <tr [style.height]="'calc(' + tinggi_col1 + 'px)'">
            <th rowspan="2">No.</th>
            <th rowspan="2">Nama Siswa</th>
          </tr>
          <tbody *ngFor="let db of data_nilai; let i = index">
            <tr>
              <td align="right" style="background: #fff;">{{i+1}}.</td>
              <td style="margin-left: 50px;background: #fff;height:65px;white-space: nowrap;width: 200px;">
                {{db.nama_siswa}}</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead id="tinggi_col1">
            <!-- <tr>
              <th rowspan="2">No.</th>
              <th rowspan="2">Nama&nbsp;Siswa</th>
            </tr> -->
            <tr>
              <th rowspan="2" class="ion-no-padding" [style.padding-right]="'calc(' + lebar_col1 + 'px)'"></th>
              <th *ngFor="let dbe of data_ekstra; let e = index" [attr.colspan]="dbe.jumlah">{{dbe.ekstra_nama}}</th>
            </tr>
            <tr>
              <th *ngFor="let db of data_ki; let i = index" style="min-width: 150px;">{{db.aspek}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let db of data_nilai; let x = index">
            <tr>
              <!-- <td class="ion-text-end" width="1">{{x+1}}.</td>
              <td style="white-space: nowrap;width: 200px;">{{db.nama_siswa}}</td> -->
              <td class="ion-no-padding"></td>
              <td *ngFor="let dbs of data_nilai[x].nilai" class="ion-text-center">
                <ion-input [value]="dbs.nilai" min="0" (keypress)="numberOnly($event)"
                  style="margin: auto;max-width: 70px;min-width: 50px;"
                  (ionChange)="edit(dbs.id, dbs.id_nilai, db.id_siswa, $event.target.value)"></ion-input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
    <ion-card-content class="ion-text-end" style="background:#efefef">
      <ion-button class="btn_simpan" (click)="simpan()">Simpan</ion-button>
    </ion-card-content>
  </ion-card>

</div>

<!-- <div *ngFor="let dbe of data_ekstra; let e = index" [class]="animasi" style="margin-top: 26px;"  >

  <ion-card *ngIf="!loading" >
    <ion-card-header color="primary">{{dbe.ekstra_nama}}</ion-card-header>
    <ion-card-content class="ion-no-padding" style="overflow: auto;">
      <table>
        <tr>
          <th>No.</th>
          <th>Nama&nbsp;Siswa</th>
          <th *ngFor="let db of data_ekstra[e].aspek; let i = index">{{db.aspek}}</th>
        </tr>
        <tbody *ngFor="let db of data_ekstra[e].data_nilai; let x = index">
          <tr (click)="detail(db)">
            <td class="ion-text-end" width="1">{{x+1}}.</td>
            <td style="white-space: nowrap;width: 200px;">{{db.nama_siswa}}</td>
            <td *ngFor="let dbs of data_ekstra[e].data_nilai[x].nilai" class="ion-text-center">
              <ion-input [value]="dbs.nilai" min="0" (keypress)="numberOnly($event)"
                style="margin: auto;max-width: 70px;min-width: 50px;"
                (ionChange)="edit(dbs.id, dbs.id_nilai, db.id_siswa, $event.target.value)"></ion-input>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
    <ion-card-content class="ion-text-end" style="background:#efefef">
      <ion-button class="btn_simpan" (click)="simpan()">Simpan</ion-button>
    </ion-card-content>
  </ion-card> 

</div> -->