<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mata Pelajaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="fixed">Kelas :</ion-label>
              <ion-select [(ngModel)]="kelas" class="ion-margin-end" interface="popover" style="width: 60px;"
                (ionChange)="load_data();">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div *ngIf="loading==true">
    <ion-chip class="chip-info ion-no-padding" style="width: 360px;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-chip>

    <ion-card class="ion-margin-vertical">
      <ion-card-content class="ion-no-padding" style="height: 300px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="info-kosong ion-text-center ion-padding ion-margin" *ngIf="data.length==0 && loading==false">
    <ion-icon name="file-tray-outline"></ion-icon>
    <br>
    Data Mata Pelajaran Kelas {{kelas}} masih kosong,
    <br>
    Silahkan klik tombol "Tambah Mata Pelajaran" di bawah untuk menambah Mata Pelajaran.
  </div>

  <div *ngIf="data.length>0 && loading==false">
    <ion-chip class="chip-info" outline>
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Klik salah satu Mata Pelajaran untuk mengedit.</ion-label>
    </ion-chip>

    <ion-card class="ion-margin-vertical">
      <ion-card-content class="ion-no-padding">
        <table>
          <tr>
            <th class="ion-text-end">No.</th>
            <th class="ion-text-start">Mata Pelajaran</th>
            <th>KKM</th>
          </tr>
          <tr *ngFor="let db of data; let i = index" (click)="edit(db.id, db.mapel_nama, db.kkm)">
            <td class="ion-text-end" width="60">{{i+1}}.</td>
            <td>{{db.mapel_nama}}</td>
            <td class="ion-text-center">{{db.kkm}}</td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-row *ngIf="loading==false">
    <ion-col class="ion-text-center">
      <ion-button (click)="tambah()">
        <ion-icon name="add-outline" slot="start"></ion-icon>Tambah Mata Pelajaran
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>