/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//-------------------------------

//-------------------------------
table {
    background-color: transparent;
    border-radius: 6px;
    // display: block;
    font-size: 15px;
    // overflow-x: auto;
    width: 100%;
    tr:hover {
        background-color: #d3e3ff;
        cursor: pointer;
    }
    th {
        background-color: var(--ion-color-primary);
        border: 1px solid #629afa;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 12px;
        text-align: center;
        // white-space: nowrap;
    }
    td {
        background-color: #fff;
        color: #555;
        padding: 14px 12px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        text-align: left;
        // width: 100%;
        vertical-align: top;
        // white-space: nowrap;
    }
}

input {
    background-color: #fff;
    color: #000;
    // border: none !important;
    border-radius: 8px !important;
    height: 37px;
    padding: 0 7px;
    width: 100%;

    border: 1px solid #999;
    box-sizing: border-box;
}

::placeholder,
--placeholder-color {
    color: #444 !important;
    opacity: 0.5;
}

//ION------------------------------------------------------------

ion-button {
    text-transform: none;
}

ion-card {
    --background: #fafafa;
    border-radius: 6px;
    ion-card-content {
        font-size: 16px !important;
        // overflow-x: auto;
    }
    ion-card-header{
        font-size: larger;
        font-weight: 600;
    }
}

ion-chip {
    border-radius: 8px;
}

ion-content {
    // --background: #ccc;
    --background: #ddd;
}

ion-input,
ion-select,
ion-textarea {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #999;
    border-radius: 8px;
    padding-left: 8px;
    --padding-end: 8px !important;
}

ion-textarea {
    padding: 0;
}

ion-input,
ion-select {
    height: 40px;
}

ion-item {
    --background: transparent;
}

ion-segment-button {
    text-transform: none;
}

ion-skeleton-text {
    height: 100%;
    margin: 0;
}

// ion-segment {
//     --background: #fafafa;
// }

// ion-segment-button {
//     --background: #efefef;

//     --indicator-color: transparent !important;
//     --indicator-color-checked: transparent !important;

//     --color: #999;
// }

//------------------------------------------------------------

.alert-head {
    font-size: 116px !important;
}

.alert-input {
     font-size: 16px !important;
}

.btn_simpan{
    width: 120px;
}

.chip-info {
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-left: 10px;
    ion-icon,
    ion-label {
        color: #666;
    }
}

.custom-alert-cancel {
    color: #7f8c8d !important ;
}

.custom-alert-danger {
    color: #e74c3c !important ;
}

// .custom-modal-kkm .modal-wrapper {
//     height: auto;
//     min-height: 100px;
//     position: absolute;
//     top: 13%;
// }

ion-modal::part(content) {
    --height: auto;
}

// .custom-modal-ki34 ion-modal::part(content) {
//     // height: 410px;
//     --height: 410px;
//     // min-height: 100px;
//     // position: absolute;
//     // top: 13%;
// }

ion-modal.auto-height {
    // &.bottom {
    //     align-items: flex-end;
    // }
    --background: #ddd;
    --height: auto;
    --width: 560px;
    margin-top: -100px;
    .ion-page {
        position: relative;
        display: block;
        contain: content;
        .modal-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}

.form-label {
    margin-top: 6px;
    width: 130px;
}

.form-invalid {
    background-color: #ffe3ed !important;
    border: 1px solid #fd4141;
}

.frame {
    // background-color: #ddd;
    // background-color: #e6e6e6;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 8px;
}

.info-kosong {
    color: #777;
    font-size: 15px;
    line-height: 2;
    ion-icon {
        color: #8f8f8f;
        font-size: 40px;
    }
}

.input-invalid {
    color: #e75c4d;
    font-size: 14px;
    font-style: italic;
    padding: 0 6px;
}

.msg-err {
    background-color: pink;
    color: rgb(95, 0, 0);
}

.notif_sukses {
    --background: rgba(46, 204, 113, 0.9);
    --start: 275px;
    --width: 300px;
    margin-top: 4px;
    text-align: center;
}

.notif_hapus {
    --background: rgba(255, 255, 255, 0.9);
    --color: #444;
    --start: 275px;
    --width: 300px;
    margin-top: 4px;
    text-align: center;
}

.notif_error {
    --background: rgba(231, 76, 60, 0.9);
    --color: #eee;
    --start: 275px;
    --width: 300px;
    margin-top: 4px;
    text-align: center;
}

.segment-inv {
    ion-segment-button {
        --background-checked: #3880ff;
        --color-checked: #eee;
        --indicator-color: tranparent;
    }
}

//-----------------------------------------------------
